<body style="background-color: #1d232a; color: white;">
    <div class="h-screen flex flex-col justify-center items-center">
        <img
            src="https://midu.dev/images/this-is-fine-404.gif"
            alt="dog_on_fire"
        />
        <h1 class="text-3xl text-center font-bold">Nothing over here...</h1>
        <button
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 mt-4"
        >
            <a href="/">Go to home</a>
        </button>
    </div>
</body>
