---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div class="pb-12 mt-5">
		<div class="text-xl py-1">Hey there 👋</div>
		<div class="text-5xl font-bold">I'm Jair Aya</div>
		<div class="text-3xl py-3 font-bold">Software Developer</div>
		<div class="py-2">
			<text class="text-lg">
				This is <b>Astrofy</b> a free and open-source template for your
				Personal Portfolio Website built with Astro and TailwindCSS.
				Create in minutes a website with Blog, CV, Project Section,
				Store and RSS Feed. I hope you find it useful!
			</text>
		</div>
	</div>
</Layout>
