---
import { languages, languagesFlags } from "../i18n/ui";
import Icon from "astro-icon";
---

<div class="flex gap-3 justify-center flex-wrap">
    {
        Object.entries(languages).map(([lang, label]) => (
            <>
                <a
                    href={`/${lang === "en" ? "" : lang + "/"}`}
                    class="inline-flex text-sm rounded-lg text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white"
                    data-tooltip-target={`tooltip-${lang}-default`}
                >
                    <Icon
                        name={languagesFlags[lang]}
                        class="h-5 w-5 rounded-full"
                    />
                </a>
                <div
                    id={`tooltip-${lang}-default`}
                    role="tooltip"
                    class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
                >
                    {label}
                    <div class="tooltip-arrow" data-popper-arrow />
                </div>
            </>
        ))
    }
</div>
