---
import { Icon } from "astro-icon/components";
const socialItems = [
    {
        name: "Github",
        icon: "akar-icons:github-fill",
        link: "https://github.com/jairayafranco",
    },
    {
        name: "Linkedin",
        icon: "akar-icons:linkedin-fill",
        link: "https://www.linkedin.com/in/jairaya/",
    },
    {
        name: "Mail",
        icon: "ion:mail",
        link: "mailto:jair.aya@uniminuto.edu.co",
    },
    {
        name: "Whatsapp",
        icon: "akar-icons:whatsapp-fill",
        link: "https://wa.me/573219535640",
    },
];
---

<div class="px-4 pb-5 pt-1 flex self-center justify-center">
    {
        socialItems.map(({ name, link, icon }) => (
            <a
                href={link}
                target="_blank"
                class="mx-3"
                aria-label={name}
                title={name}
            >
                <Icon name={icon} width="26px" />
            </a>
        ))
    }
</div>
