---
import Layout from "../../layouts/Layout.astro";
import { projects } from "../../data/projects";
import ProjectCard from "../../components/ProjectCard.astro";
---

<Layout>
    <div class="mt-5">
        <div class="text-3xl w-full font-bold mb-5">Projects</div>

        <div class="flex flex-col">
            {
                projects.map((project, i) => (
                    <ProjectCard project={project} key={i} />
                ))
            }
        </div>
    </div>
</Layout>
